@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --transition-speed: 200ms;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --bg-primary: #12192c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    transition: var(--transition-speed);
}

body {
    background-color: var(--bg-primary);
}

/* Navigation Bar */

.navbar .nav-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px 100px;
    width: 50px;
    height: 50px;
    background: url(assets/icons/menu.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    background-color: var(--bg-primary);
    cursor: pointer;
    border-radius: 10px;
    border: solid #3A86FF;
    box-shadow: var(--box-shadow);
    z-index: 100;
}

.navbar .nav-toggle.active {
    background: url(assets/icons/close.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    background-color: white;
    border: none;
    right: +100px;
    position: fixed;
}

.navbar .nav-menu {
    position: fixed;
    z-index: 99;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-primary);
}

.navbar .nav-menu.active {
    right: 0;
}

.navbar .nav-menu a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    margin: 10px 50px;
}

@media (max-width: 798px) {
    .navbar .nav-toggle {
        margin: 30px 50px;
        border: none;
    }
    .navbar .nav-toggle.active {
        right: 0;
    }
    .navbar .nav-menu a {
        text-align: right;
    }
}

.content.active {
    filter: brightness(0.5);
}

@media (max-width: 798px) {
    .content.active {
        filter: brightness(0.1);
    }
}

.content header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
}

.content header img {
    height: 50px;
    vertical-align: bottom;
}

@media(max-width: 798px) {
    .content header {
        padding: 30px 50px;
    }
}

/* /Navigation Bar */

/* Hero Section Landing Page */

.hero-container {
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(43deg, #FFBE0B 0%, #FB5607 50%, #FF006E 75%, #8338EC 95%, #3A86FF 100%);
    background-image: url("assets/img/logo/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.hero-container header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
}

.hero-container .text {
    z-index: 10;
}

.hero-container .text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
}

.hero-container .text h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
}

.hero-container .text p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.hero-container .text a {
    display: inline-block;
    font-size: 1em;
    background-color: #12192c;
    padding: 10px 30px;
    text-decoration: none;
    color: #3A86FF;
    letter-spacing: 2px;
    transition: 0.2s;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.hero-container .text a:hover {
    letter-spacing: 6px;
}

.hero-container .social {
    position: absolute;
    bottom: 40px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container .social li {
    list-style: none;
}

.hero-container .social li a {
    display: inline-block;
    margin-right: 20px;
    transform: scale(0.8);
}

.hero-container .social li a img {
    color: white;
}

.hero-container .social li a:hover {
    transform: scale(0.8) translateY(-5px);
}

@media(max-width: 798px) {
    .hero-container {
        padding: 50px;
    }

    .hero-container header {
        padding: 40px 50px;
    }

    .hero-container .text h2 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    .hero-container .text h3 {
        font-size: 1.5em;
    }

    .hero-container .text p {
        font-size: 1em;
    }

    .hero-container .text a {
        font-size: 0.8em;
    }
}

.hero-container .logo img {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-height: 100vh;
    filter: opacity(0.25);
}

/* /Hero Section Landing Page */

/* Projects Page */

.projects-container {
    background-color: var(--bg-primary);
    padding: 110px 100px;
    min-height: 100vh;
}

@media (max-width: 798px) {
    .projects-container {
        padding: 110px 50px;
    }
}

.projects-container .projects-grid {
    column-count: 3;
    gap: 15px;
}

@media (max-width: 2000px) {
    .projects-container .projects-grid {
        column-count: 2;
    }
}

@media (max-width: 1000px) {
    .projects-container .projects-grid {
        column-count: 1;
    }
}

.projects-container .projects-grid .projects-item {
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    margin-bottom: 15px;
}

.projects-container .projects-grid .projects-item:hover {
    filter: brightness(0.7);
}

.projects-container .projects-grid .projects-item img {
    width: 100%;
    border-radius: 10px;
    vertical-align: bottom;
}

/* /Projects Page */

/* Gallery Page */

.gallery-container {
    background-color: var(--bg-primary);
    padding: 110px 100px;
    min-height: 100vh;
}

@media (max-width: 798px) {
    .gallery-container {
        padding: 110px 50px;
    }
}

.gallery-container .gallery-grid {
    column-count: 3;
    gap: 15px;
}

@media (max-width: 2000px) {
    .gallery-container .gallery-grid {
        column-count: 2;
    }
}

@media (max-width: 1000px) {
    .gallery-container .gallery-grid {
        column-count: 1;
    }
}

.gallery-container .gallery-grid .gallery-item {
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    margin-bottom: 15px;
}

.gallery-container .gallery-grid .gallery-item img {
    width: 100%;
    border-radius: 10px;
    vertical-align: bottom;
}

/* /Gallery Page */

/* About Page */

.about-container {
    background-color: var(--bg-primary);
    padding: 110px 100px;
    min-height: 100vh;
}

@media (max-width: 798px) {
    .about-container {
        padding: 110px 50px;
    }
}

.about-container .propic-container {
    max-width: 600px;
    margin: auto;
}

.about-container .propic-container img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

/* /About Page */

/* Contact Me Page */

.contact-container {
    background-color: var(--bg-primary);
    padding: 110px 100px;
    min-height: 100vh;
}

@media (max-width: 798px) {
    .contact-container {
        padding: 110px 50px;
    }
}

/* /Contact Me Page */