.project-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.project-item:nth-child(1) {
    padding: 1vh;
    background: var(--bg-primary);
    transition: var(--transition-speed);
}

.project-item:hover {
    background: orange;
}

iframe {
    vertical-align: bottom;
}

@media only screen and (min-width: 800px) {
    iframe {
        width: 640px;
        height: 360px;
    }
}

@media only screen and (min-width: 960px) {
    iframe {
        width: 800px;
        height: 450px;
    }
}

@media only screen and (min-width: 1366px) {
    iframe {
        width: 1024px;
        height: 576px;
    }
}

@media only screen and (min-width: 1920px) {
    iframe {
        width: 1600px;
        height: 900px;
    }
}

@media only screen and (min-width: 2560px) {
    iframe {
        width: 1920px;
        height: 1080px;
    }
}

@media only screen and (min-width: 3840px) {
    iframe {
        width: 2560px;
        height: 1440px;
    }
}