.project-container {
    column-count: 2;
    grid-gap: 1vh;
}

.project-item {
    padding: 1vh;
    background-color: var(--bg-primary);
    margin-bottom: 1vh;
}

.project-item img {
    width: 100%;
    vertical-align: bottom;
}

@media (max-width: 600px) {
    .project-container {
        column-count: 1;
    }
}