@import url(navigation.css);
@import url(components.css);
@import url(pattern.css);
@import url(animation.css);
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500;700;900&display=swap');

:root {
    --bg-primary: #111111;
    --bg-secondary: #1e1e1e;
    --text-primary: #fff;
    --border-color: #2a2a2a;

    --border-style: solid 2px var(--border-color);
    --transition-speed: 200ms ease-in-out;
    --layout-width: 798px;

    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition-speed);
    overscroll-behavior: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    padding: 24px;
    color: var(--text-primary);
    animation-name: FadeIn;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    animation-delay: 500ms;
    animation-fill-mode: forwards;
    visibility: hidden;
}

header {
    position: relative;
}

main {
    position: relative;
}

footer {
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    --line-count: 9;
    --line-distance: calc(100% / var(--line-count));
    --line-width: 1px;

    background-image: 
        linear-gradient(90deg, transparent, transparent var(--line-distance), var(--border-color) var(--line-distance), transparent calc(var(--line-distance) + var(--line-width))),
        linear-gradient(90deg, transparent, transparent calc(2 * var(--line-distance)), var(--border-color) calc(2 * var(--line-distance)), transparent calc(2 * var(--line-distance) + var(--line-width))),
        linear-gradient(90deg, transparent, transparent calc(3 * var(--line-distance)), var(--border-color) calc(3 * var(--line-distance)), transparent calc(3 * var(--line-distance) + var(--line-width))),
        linear-gradient(90deg, transparent, transparent calc(4 * var(--line-distance)), var(--border-color) calc(4 * var(--line-distance)), transparent calc(4 * var(--line-distance) + var(--line-width))),
        linear-gradient(90deg, transparent, transparent calc(5 * var(--line-distance)), var(--border-color) calc(5 * var(--line-distance)), transparent calc(5 * var(--line-distance) + var(--line-width))),
        linear-gradient(90deg, transparent, transparent calc(6 * var(--line-distance)), var(--border-color) calc(6 * var(--line-distance)), transparent calc(6 * var(--line-distance) + var(--line-width))),
        linear-gradient(90deg, transparent, transparent calc(7 * var(--line-distance)), var(--border-color) calc(7 * var(--line-distance)), transparent calc(7 * var(--line-distance) + var(--line-width))),
        linear-gradient(90deg, transparent, transparent calc(8 * var(--line-distance)), var(--border-color) calc(8 * var(--line-distance)), transparent calc(8 * var(--line-distance) + var(--line-width))),
        linear-gradient(90deg, transparent, transparent calc(100% - var(--line-distance)), var(--border-color) calc(100% - var(--line-distance)), transparent calc(100% - var(--line-distance) + var(--line-width)));
}

@media (max-width: 798px) {
    body {
        --line-count: 4;
    }
}