@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(articles.css);

:root {
    --transition-speed: 200ms ease-out;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --bg-primary: #12192c;
    --bg-secondary: #000000;
    --ac-primary: #4158D0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: var(--bg-primary);
    transition: var(--transition-speed);
    position: relative;
}

/* ScrollReveal Utilities */

html.sr .load-hidden {
    visibility: hidden;
}

/* Navigation Bar */

.navbar {
    transition: var(--transition-speed);
}

.navbar .nav-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px 100px;
    width: 50px;
    height: 50px;
    background: url(/assets/icons/menu.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    background-color: var(--bg-primary);
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    z-index: 100;
}

.navbar .nav-toggle.active {
    background: url(/assets/icons/close.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    background-color: white;
    border: none;
    right: +100px;
    position: fixed;
    transition: var(--transition-speed);
}

@media (min-width: 798px) {
    .navbar .nav-toggle {
        transition: var(--transition-speed);
    }
}

.navbar .nav-menu {
    position: fixed;
    z-index: 99;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-primary);
    transition: var(--transition-speed);
}

.navbar .nav-menu.active {
    right: 0;
    transition: var(--transition-speed);
}

.navbar .nav-menu a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin: 10px 50px;
    transition: var(--transition-speed);
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar .nav-menu a img {
    height: 1.5em;
    filter: invert();
}

.navbar .nav-menu a:hover {
    opacity: 0.5;
}

@media (max-width: 798px) {
    .navbar .nav-toggle {
        margin: 30px 50px;
    }
    .navbar .nav-toggle.active {
        right: 0;
    }
    .navbar .nav-menu a {
        text-align: right;
        flex-direction: row-reverse;
    }
}

.content {
    transition: var(--transition-speed);
}

.content.active {
    filter: brightness(0.5);
}

@media (max-width: 798px) {
    .content.active {
        filter: brightness(0.1);
    }
}

.content header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 100px;
    z-index: 1;
    color: white;
}

.content header a {
    text-decoration: none;
    color: white;
}

.content header img {
    height: 50px;
    vertical-align: bottom;
}

@media(max-width: 798px) {
    .content header {
        padding: 40px 50px;
    }
}

.content menu {
    z-index: 1;
    position: absolute;
    top: 30px;
    right: 50%;
    left: 50%;
    margin: auto;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.content menu a {
    color: white;
    transition: var(--transition-speed);
    font-weight: 500;
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    opacity: 0.5;
}

.content menu a img {
    height: 1.5em;
    vertical-align: bottom;
    filter: invert();
}

.content menu a:hover {
    text-decoration: underline;
    opacity: 1;
}

.content .mail-toggle {
    position: absolute;
    top: 30px;
    right: 100px;
    z-index: 2;
    height: 50px;
    display: flex;
    align-items: center;
}

.content .mail-toggle a {
    text-decoration: none;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: var(--transition-speed);
    font-weight: 500;
    opacity: 0.5;
}

.content .mail-toggle img {
    height: 1.5em;
    vertical-align: bottom;
    filter: invert();
}

.content .mail-toggle a:hover {
    text-decoration: underline;
    opacity: 1;
}

@media (max-width: 1199px) {
    .content menu {
        display: none;
    }
    .content .mail-toggle {
        display: none;
    }
}

@media (min-width: 1200px) {
    .nav-toggle {
        display: none;
    }
}

/* Hero Section Landing Page */

.hero-container .black-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero-container {
    width: 100%;
    min-height: 100dvh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.hero-container header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
}

@media (min-width: 798px) {
    .hero-container header h2 {
        display: block;
    }
}

.hero-container .text {
    z-index: 10;
}

.hero-container .text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
}

.hero-container .text h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
}

.hero-container .text p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.hero-container .text a {
    display: inline-block;
    font-size: 1em;
    background-color: var(--bg-primary);
    padding: 10px 30px;
    text-decoration: none;
    color: var(--ac-primary);
    letter-spacing: 2px;
    transition: var(--transition-speed);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.hero-container .text a:hover {
    letter-spacing: 6px;
}

.hero-container .social {
    position: absolute;
    bottom: 40px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container .social li {
    list-style: none;
}

@media (max-width: 798px) {
    .hero-container .social li:nth-child(n+4) {
        display: none;
    }
}

.hero-container .social li a {
    display: inline-block;
    margin-right: 20px;
    transform: scale(0.8);
    transition: var(--transition-speed);
}

.hero-container .social li a img {
    color: white;
}

.hero-container .social li a:hover {
    transform: scale(0.8) translateY(-5px);
}

@media (max-width: 798px) {
    .hero-container {
        padding: 50px;
    }

    .hero-container header {
        padding: 40px 50px;
    }

    .hero-container .text h2 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    .hero-container .text h3 {
        font-size: 1.5em;
    }

    .hero-container .text p {
        font-size: 1em;
    }

    .hero-container .text a {
        font-size: 0.8em;
    }
}

.hero-container .logo img {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-height: 100vh;
    opacity: 0.15;
}

.container {
    padding: 110px 100px;
    min-height: 100vh;
    background-color: var(--bg-primary);
}

@media (max-width: 798px) {
    .container {
        padding: 110px 30px;
    }
}

.container .filter {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Projects Page */

.projects-grid {
    column-count: 4;
    gap: 15px;
}

@media (max-width: 2000px) {
    .projects-grid {
        column-count: 2;
    }
}

@media (max-width: 1500px) {
    .projects-grid {
        column-count: 2;
    }
}

@media (max-width: 1000px) {
    .projects-grid {
        column-count: 1;
    }
}

.projects-grid .projects-item {
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}

.projects-grid .projects-item a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.projects-description {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 30px;
    color: white;
    transition: var(--transition-speed);
    opacity: 0;
    transform: translateY(30px);
}

.projects-description h3 {
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
}

.projects-description h2 {
    font-size: 20px;
}

.projects-item:hover .projects-description {
    opacity: 1;
    transform: translateY(0);
}

.projects-grid .projects-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    vertical-align: bottom;
    transition: var(--transition-speed);
    object-fit: cover;
}

.projects-item:hover img {
    filter: blur() brightness() opacity(0.3);
}

@media (hover: none) {
    .projects-item:hover img {
        filter: none;
    }
    .projects-item:hover .projects-description {
        opacity: 0;
    }
}

/* Gallery Page */

.gallery-grid {
    column-count: 5;
    gap: 15px;
}

@media (max-width: 2000px) {
    .gallery-grid {
        column-count: 4;
    }
}

@media (max-width: 1500px) {
    .gallery-grid {
        column-count: 3;
    }
}

@media (max-width: 1200px) {
    .gallery-grid {
        column-count: 2;
    }
}

@media (max-width: 798px) {
    .gallery-grid {
        column-count: 1;
    }
}

.gallery-grid .gallery-item {
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    margin-bottom: 15px;
}

.gallery-grid .gallery-item img {
    width: 100%;
    border-radius: 10px;
    vertical-align: bottom;
    pointer-events: none;
}

/* About Page */

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 600px;
    gap: 15px;
}

@media (max-width: 1500px) {
    .about-container {
        grid-template-columns: 1fr;
    }
}

.about-container .profile-container {
    grid-column: 1 / span 2;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/about/profile.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
}

@media (max-width: 1500px) {
    .about-container .profile-container {
        grid-column: auto;
    }
}

.about-container .profile-container .text {
    margin: 100px;
}

.about-container .profile-container .text h2 {
    font-size: 48px;
}

@media (max-width: 798px) {
    .about-container .profile-container {
        background-size: 1080px;
    }
    .about-container .profile-container .text {
    margin: 30px;
    }
    .about-container .profile-container .text h2 {
    font-size: 32px;
    }
}

.about-container .tech-container {
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    color: white;
    background-color: #111;
}

.about-container .tech-container .icons-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

.about-container .tech-container .icons-container img {
    height: 50px;
}

/* Contact Me Page */

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 600px;
    gap: 15px;
}

@media (max-width: 1500px) {
    .contact-container {
        grid-template-columns: 1fr;
    }
}

.contact-container .main-container {
    grid-column: 1 / span 2;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/logo/contact2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
}

.contact-container .main-container .text {
    margin: 100px;
}

.contact-container .main-container .text h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
}

.contact-container .main-container .text p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.contact-container .main-container a {
    font-size: 1em;
    display: inline-block;
    background-color: #12192c;
    padding: 10px 30px;
    text-decoration: none;
    color: var(--ac-primary);
    letter-spacing: 2px;
    transition: var(--transition-speed);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    text-transform: uppercase;
}

.contact-container .main-container a:hover {
    letter-spacing: 6px;
}

@media (max-width: 798px) {
    .contact-container .main-container .text {
        margin: 30px;
    }
    .contact-container .main-container .text h3 {
        font-size: 1.5em;
    }
    .contact-container .main-container .text p {
        font-size: 1em;
    }
    .contact-container .main-container .text a {
        font-size: 0.8em;
    }
}

.contact-container .social-container {
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    background-color: #111;
    display: grid;
    place-content: center;
}

.contact-container .social-container .flex-container a img {
    transition: var(--transition-speed);
    height: 75px;
}

.contact-container .social-container .flex-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

@media (max-width: 798px) {
    .contact-container .social-container .flex-container {
        flex-direction: column;
    }
}

.contact-container .social-container .flex-container img:hover {
    transform: translateY(-5px);
}

.contact-container .form-container {
    grid-column: 1;
    background-color: #111;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-container .form-container form {
    margin: 60px;
}

.contact-container .form-container .form-group {
    margin-bottom: 20px;
}

@media (max-width: 798px) {
    .contact-container .form-container form {
        margin: 30px;
    }
}

.contact-container .form-container .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 5px;
}

.contact-container .form-container .form-group input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border: 0px solid #007bff;
    background-color: transparent;
    background-color: #222;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    color: white;
}

.contact-container .form-container .form-group textarea {
    height: 150px;
}

.contact-container .form-container button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: var(--transition-speed);
}

.contact-container .form-container button:hover {
    background-color: #0056b3;
}

.contact-container .image-container {
    grid-column: 2 / span 2;
    background-image: url(/assets/img/logo/contact.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

@media (max-width: 1500px) {
    .contact-container .main-container {
        grid-column: auto;
    }
    .contact-container .image-container {
        grid-column: auto;
    }
}

/* Footer */

.main-footer {
    position: absolute;
    color: white;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    height: 50px;
    margin: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

@media (max-width: 798px) {
    .main-footer {
        font-size: 0.8em;
    }
}

/* Patterns */

.magicpattern {
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 3840 2160%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%223840%22 height=%222160%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h3840v2160H0z%22%2F%3E%3C%2Fmask%3E%3Cpath d=%22M0 0h3840v2160H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23444%22 stroke-width=%223.84%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M0 0h192v192H0z%22%2F%3E%3Cpath fill=%22%2344444437%22 d=%22M192 0h192v192H192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M384 0h192v192H384zM576 0h192v192H576zM768 0h192v192H768zM960 0h192v192H960zM1152 0h192v192h-192zM1344 0h192v192h-192zM1536 0h192v192h-192zM1728 0h192v192h-192zM1920 0h192v192h-192zM2112 0h192v192h-192z%22%2F%3E%3Cpath fill=%22%234444440d%22 d=%22M2304 0h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2496 0h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444488%22 d=%22M2688 0h192v192h-192z%22%2F%3E%3Cpath fill=%22%23444444a1%22 d=%22M2880 0h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3072 0h192v192h-192zM3264 0h192v192h-192zM3456 0h192v192h-192z%22%2F%3E%3Cpath fill=%22%234444442f%22 d=%22M3648 0h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 192h192v192H0zM192 192h192v192H192zM384 192h192v192H384zM576 192h192v192H576zM768 192h192v192H768zM960 192h192v192H960z%22%2F%3E%3Cpath fill=%22%234444446d%22 d=%22M1152 192h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1344 192h192v192h-192zM1536 192h192v192h-192zM1728 192h192v192h-192zM1920 192h192v192h-192zM2112 192h192v192h-192zM2304 192h192v192h-192zM2496 192h192v192h-192zM2688 192h192v192h-192zM2880 192h192v192h-192zM3072 192h192v192h-192z%22%2F%3E%3Cpath fill=%22%234444445b%22 d=%22M3264 192h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3456 192h192v192h-192z%22%2F%3E%3Cpath fill=%22%234444444a%22 d=%22M3648 192h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 384h192v192H0zM192 384h192v192H192z%22%2F%3E%3Cpath fill=%22%2344444433%22 d=%22M384 384h192v192H384z%22%2F%3E%3Cpath fill=%22none%22 d=%22M576 384h192v192H576zM768 384h192v192H768zM960 384h192v192H960zM1152 384h192v192h-192zM1344 384h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444417%22 d=%22M1536 384h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1728 384h192v192h-192z%22%2F%3E%3Cpath fill=%22%23444444eb%22 d=%22M1920 384h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444496%22 d=%22M2112 384h192v192h-192z%22%2F%3E%3Cpath fill=%22%23444444d7%22 d=%22M2304 384h192v192h-192z%22%2F%3E%3Cpath fill=%22%234444443d%22 d=%22M2496 384h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2688 384h192v192h-192zM2880 384h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444402%22 d=%22M3072 384h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3264 384h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444414%22 d=%22M3456 384h192v192h-192z%22%2F%3E%3Cpath fill=%22%234444446a%22 d=%22M3648 384h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 576h192v192H0z%22%2F%3E%3Cpath fill=%22%234444445e%22 d=%22M192 576h192v192H192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M384 576h192v192H384zM576 576h192v192H576zM768 576h192v192H768zM960 576h192v192H960z%22%2F%3E%3Cpath fill=%22%234444446c%22 d=%22M1152 576h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444489%22 d=%22M1344 576h192v192h-192z%22%2F%3E%3Cpath fill=%22%23444444df%22 d=%22M1536 576h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1728 576h192v192h-192zM1920 576h192v192h-192zM2112 576h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444437%22 d=%22M2304 576h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2496 576h192v192h-192zM2688 576h192v192h-192zM2880 576h192v192h-192zM3072 576h192v192h-192zM3264 576h192v192h-192zM3456 576h192v192h-192zM3648 576h192v192h-192zM0 768h192v192H0zM192 768h192v192H192zM384 768h192v192H384zM576 768h192v192H576z%22%2F%3E%3Cpath fill=%22%23444444be%22 d=%22M768 768h192v192H768z%22%2F%3E%3Cpath fill=%22none%22 d=%22M960 768h192v192H960zM1152 768h192v192h-192zM1344 768h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444473%22 d=%22M1536 768h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1728 768h192v192h-192z%22%2F%3E%3Cpath fill=%22%23444444c2%22 d=%22M1920 768h192v192h-192z%22%2F%3E%3Cpath fill=%22%23444444b8%22 d=%22M2112 768h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2304 768h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444421%22 d=%22M2496 768h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2688 768h192v192h-192zM2880 768h192v192h-192zM3072 768h192v192h-192zM3264 768h192v192h-192zM3456 768h192v192h-192zM3648 768h192v192h-192zM0 960h192v192H0z%22%2F%3E%3Cpath fill=%22%2344444437%22 d=%22M192 960h192v192H192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M384 960h192v192H384zM576 960h192v192H576zM768 960h192v192H768zM960 960h192v192H960zM1152 960h192v192h-192zM1344 960h192v192h-192zM1536 960h192v192h-192zM1728 960h192v192h-192zM1920 960h192v192h-192zM2112 960h192v192h-192zM2304 960h192v192h-192z%22%2F%3E%3Cpath fill=%22%23444444da%22 d=%22M2496 960h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2688 960h192v192h-192zM2880 960h192v192h-192zM3072 960h192v192h-192zM3264 960h192v192h-192zM3456 960h192v192h-192zM3648 960h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444444%22 d=%22M0 1152h192v192H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M192 1152h192v192H192zM384 1152h192v192H384zM576 1152h192v192H576z%22%2F%3E%3Cpath fill=%22%23444444c0%22 d=%22M768 1152h192v192H768z%22%2F%3E%3Cpath fill=%22none%22 d=%22M960 1152h192v192H960zM1152 1152h192v192h-192z%22%2F%3E%3Cpath fill=%22%234444443b%22 d=%22M1344 1152h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1536 1152h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444494%22 d=%22M1728 1152h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1920 1152h192v192h-192zM2112 1152h192v192h-192zM2304 1152h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444486%22 d=%22M2496 1152h192v192h-192z%22%2F%3E%3Cpath fill=%22%23444444b2%22 d=%22M2688 1152h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2880 1152h192v192h-192zM3072 1152h192v192h-192zM3264 1152h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444452%22 d=%22M3456 1152h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3648 1152h192v192h-192zM0 1344h192v192H0zM192 1344h192v192H192zM384 1344h192v192H384zM576 1344h192v192H576zM768 1344h192v192H768zM960 1344h192v192H960z%22%2F%3E%3Cpath fill=%22%2344444442%22 d=%22M1152 1344h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1344 1344h192v192h-192zM1536 1344h192v192h-192zM1728 1344h192v192h-192zM1920 1344h192v192h-192zM2112 1344h192v192h-192zM2304 1344h192v192h-192zM2496 1344h192v192h-192z%22%2F%3E%3Cpath fill=%22%23444444ba%22 d=%22M2688 1344h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2880 1344h192v192h-192z%22%2F%3E%3Cpath fill=%22%23444444d1%22 d=%22M3072 1344h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3264 1344h192v192h-192z%22%2F%3E%3Cpath fill=%22%234444445f%22 d=%22M3456 1344h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3648 1344h192v192h-192zM0 1536h192v192H0z%22%2F%3E%3Cpath fill=%22%2344444444%22 d=%22M192 1536h192v192H192z%22%2F%3E%3Cpath fill=%22%23444444eb%22 d=%22M384 1536h192v192H384z%22%2F%3E%3Cpath fill=%22none%22 d=%22M576 1536h192v192H576z%22%2F%3E%3Cpath fill=%22%2344444470%22 d=%22M768 1536h192v192H768z%22%2F%3E%3Cpath fill=%22%2344444480%22 d=%22M960 1536h192v192H960z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1152 1536h192v192h-192zM1344 1536h192v192h-192zM1536 1536h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444463%22 d=%22M1728 1536h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1920 1536h192v192h-192zM2112 1536h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444453%22 d=%22M2304 1536h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444494%22 d=%22M2496 1536h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444427%22 d=%22M2688 1536h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2880 1536h192v192h-192zM3072 1536h192v192h-192zM3264 1536h192v192h-192z%22%2F%3E%3Cpath fill=%22%23444444a0%22 d=%22M3456 1536h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3648 1536h192v192h-192z%22%2F%3E%3Cpath fill=%22%23444444e2%22 d=%22M0 1728h192v192H0z%22%2F%3E%3Cpath fill=%22%23444444bc%22 d=%22M192 1728h192v192H192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M384 1728h192v192H384z%22%2F%3E%3Cpath fill=%22%2344444401%22 d=%22M576 1728h192v192H576z%22%2F%3E%3Cpath fill=%22none%22 d=%22M768 1728h192v192H768zM960 1728h192v192H960zM1152 1728h192v192h-192z%22%2F%3E%3Cpath fill=%22%23444444c6%22 d=%22M1344 1728h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1536 1728h192v192h-192z%22%2F%3E%3Cpath fill=%22%23444444ea%22 d=%22M1728 1728h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1920 1728h192v192h-192zM2112 1728h192v192h-192zM2304 1728h192v192h-192zM2496 1728h192v192h-192zM2688 1728h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444411%22 d=%22M2880 1728h192v192h-192z%22%2F%3E%3Cpath fill=%22%23444444cd%22 d=%22M3072 1728h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3264 1728h192v192h-192zM3456 1728h192v192h-192zM3648 1728h192v192h-192z%22%2F%3E%3Cpath fill=%22%23444444e1%22 d=%22M0 1920h192v192H0z%22%2F%3E%3Cpath fill=%22%23444444c6%22 d=%22M192 1920h192v192H192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M384 1920h192v192H384z%22%2F%3E%3Cpath fill=%22%23444444a3%22 d=%22M576 1920h192v192H576z%22%2F%3E%3Cpath fill=%22none%22 d=%22M768 1920h192v192H768z%22%2F%3E%3Cpath fill=%22%2344444473%22 d=%22M960 1920h192v192H960z%22%2F%3E%3Cpath fill=%22%23444444a8%22 d=%22M1152 1920h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1344 1920h192v192h-192z%22%2F%3E%3Cpath fill=%22%23444444c4%22 d=%22M1536 1920h192v192h-192z%22%2F%3E%3Cpath fill=%22%234444447f%22 d=%22M1728 1920h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444471%22 d=%22M1920 1920h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444461%22 d=%22M2112 1920h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2304 1920h192v192h-192zM2496 1920h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444426%22 d=%22M2688 1920h192v192h-192z%22%2F%3E%3Cpath fill=%22%234444446b%22 d=%22M2880 1920h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444429%22 d=%22M3072 1920h192v192h-192z%22%2F%3E%3Cpath fill=%22%234444447a%22 d=%22M3264 1920h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3456 1920h192v192h-192zM3648 1920h192v192h-192zM0 2112h192v192H0zM192 2112h192v192H192zM384 2112h192v192H384z%22%2F%3E%3Cpath fill=%22%2344444420%22 d=%22M576 2112h192v192H576z%22%2F%3E%3Cpath fill=%22none%22 d=%22M768 2112h192v192H768z%22%2F%3E%3Cpath fill=%22%23444444f7%22 d=%22M960 2112h192v192H960z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1152 2112h192v192h-192zM1344 2112h192v192h-192zM1536 2112h192v192h-192z%22%2F%3E%3Cpath fill=%22%234444449c%22 d=%22M1728 2112h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1920 2112h192v192h-192zM2112 2112h192v192h-192z%22%2F%3E%3Cpath fill=%22%2344444425%22 d=%22M2304 2112h192v192h-192z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2496 2112h192v192h-192zM2688 2112h192v192h-192zM2880 2112h192v192h-192zM3072 2112h192v192h-192zM3264 2112h192v192h-192zM3456 2112h192v192h-192zM3648 2112h192v192h-192z%22%2F%3E%3C%2Fg%3E%3Cpath fill=%22%23f3f3f3%22 filter=%22url(%23c)%22 opacity=%22.8%22 d=%22M0 0h3840v2160H0z%22%2F%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3Cfilter id=%22c%22 x=%22-1536%22 y=%22-864%22 width=%225376%22 height=%223024%22 filterUnits=%22userSpaceOnUse%22 primitiveUnits=%22userSpaceOnUse%22 color-interpolation-filters=%22linearRGB%22%3E%3CfeTurbulence type=%22fractalNoise%22 baseFrequency=%22.115%22 numOctaves=%224%22 seed=%2215%22 stitchTiles=%22no-stitch%22 x=%220%22 y=%220%22 width=%223840%22 height=%222160%22 result=%22turbulence%22%2F%3E%3CfeSpecularLighting surfaceScale=%2210%22 specularConstant=%22.19%22 specularExponent=%2220%22 lighting-color=%22%23fff%22 x=%220%22 y=%220%22 width=%223840%22 height=%222160%22 in=%22turbulence%22 result=%22specularLighting%22%3E%3CfeDistantLight azimuth=%223%22 elevation=%22100%22%2F%3E%3C%2FfeSpecularLighting%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}
  

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--ac-primary);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-primary);
}
