@import url(navigation.css);
@import url(components.css);
@import url(pattern.css);
@import url(animation.css);
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500;700;900&display=swap');

:root {
    --bg-primary: #111111;
    --bg-secondary: #1e1e1e;
    --text-primary: #fff;
    --border-color: #2a2a2a;

    --border-style: solid 2px var(--border-color);
    --transition-speed: 200ms ease-in-out;
    --layout-width: 798px;

    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition-speed);
    overscroll-behavior: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    padding: 24px;
    color: var(--text-primary);
    animation-name: FadeIn;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    animation-delay: 500ms;
    animation-fill-mode: forwards;
    visibility: hidden;
}

header {
    position: relative;
}

main {
    position: relative;
}

footer {
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask10058%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(17%2c 17%2c 17%2c 1)'%3e%3c/rect%3e%3cpath d='M328.83000000000004 327.29 L263.47 186.46L189.9081812864545 363.1168187135455z' fill='rgba(30%2c 30%2c 30%2c 1)'%3e%3c/path%3e%3cpath d='M1497.1699999999998 131.17 L1407.36 51.849999999999994L1367.6445324262718 176.13046757372808z' fill='rgba(30%2c 30%2c 30%2c 1)'%3e%3c/path%3e%3cpath d='M872.73 328.17999999999995 L755.03 376.59000000000003L903.3171883850246 441.8221883850246z' stroke='rgba(30%2c 30%2c 30%2c 1)' stroke-width='2.56' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3crect width='337.28' height='337.28' clip-path='url(%26quot%3b%23SvgjsClipPath10059%26quot%3b)' x='41.36' y='55.43' fill='url(%26quot%3b%23SvgjsPattern10060%26quot%3b)' transform='rotate(114.31%2c 210%2c 224.07)'%3e%3c/rect%3e%3cpath d='M827.53 517.37a5.6 5.6 0 1 0-10.94 2.4 5.6 5.6 0 1 0 10.94-2.4zM811.9 520.8a5.6 5.6 0 1 0-10.94 2.4 5.6 5.6 0 1 0 10.94-2.4zM796.27 524.23a5.6 5.6 0 1 0-10.94 2.4 5.6 5.6 0 1 0 10.94-2.4zM780.65 527.66a5.6 5.6 0 1 0-10.94 2.4 5.6 5.6 0 1 0 10.94-2.4zM855.36 494.88a5.6 5.6 0 1 0-10.94 2.4 5.6 5.6 0 1 0 10.94-2.4zM839.73 498.31a5.6 5.6 0 1 0-10.94 2.4 5.6 5.6 0 1 0 10.94-2.4zM824.1 501.74a5.6 5.6 0 1 0-10.94 2.4 5.6 5.6 0 1 0 10.94-2.4zM808.47 505.17a5.6 5.6 0 1 0-10.94 2.4 5.6 5.6 0 1 0 10.94-2.4z' fill='rgba(30%2c 30%2c 30%2c 1)'%3e%3c/path%3e%3ccircle r='46.666666666666664' cx='333.55' cy='136.06' stroke='rgba(30%2c 30%2c 30%2c 1)' stroke-width='1.12'%3e%3c/circle%3e%3cpath d='M825.68 540.66a5.6 5.6 0 1 0-1.91-11.03 5.6 5.6 0 1 0 1.91 11.03zM822.96 524.9a5.6 5.6 0 1 0-1.9-11.04 5.6 5.6 0 1 0 1.9 11.04zM820.25 509.13a5.6 5.6 0 1 0-1.91-11.04 5.6 5.6 0 1 0 1.91 11.04zM817.53 493.36a5.6 5.6 0 1 0-1.9-11.04 5.6 5.6 0 1 0 1.9 11.04z' stroke='rgba(30%2c 30%2c 30%2c 1)' stroke-width='1' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3cpath d='M1374.25 419.99 L1326.08 398.58L1325.3294724165737 434.1205275834261z' stroke='rgba(30%2c 30%2c 30%2c 1)' stroke-width='2.92' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3crect width='136' height='136' clip-path='url(%26quot%3b%23SvgjsClipPath10061%26quot%3b)' x='119.77' y='16.41' fill='url(%26quot%3b%23SvgjsPattern10062%26quot%3b)' transform='rotate(178.05%2c 187.77%2c 84.41)'%3e%3c/rect%3e%3ccircle r='91.20525913644542' cx='322.45' cy='496.92' fill='rgba(30%2c 30%2c 30%2c 1)'%3e%3c/circle%3e%3cpath d='M1252.18 344.70000000000005 L1183.51 278.89L1153.9621105227388 375.67788947726126z' fill='rgba(30%2c 30%2c 30%2c 1)'%3e%3c/path%3e%3ccircle r='46.666666666666664' cx='1164.1' cy='320.17' stroke='rgba(30%2c 30%2c 30%2c 1)' stroke-width='1' stroke-dasharray='4%2c 4'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask10058'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='10.54' height='10.54' patternUnits='userSpaceOnUse' id='SvgjsPattern10060'%3e%3cpath d='M0 10.54L5.27 0L10.54 10.54' stroke='rgba(30%2c 30%2c 30%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath10059'%3e%3ccircle r='84.32' cx='210' cy='224.07'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='136' height='13.6' patternUnits='userSpaceOnUse' id='SvgjsPattern10062'%3e%3crect width='136' height='6.8' x='0' y='0' fill='rgba(30%2c 30%2c 30%2c 1)'%3e%3c/rect%3e%3crect width='136' height='6.8' x='0' y='6.8' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath10061'%3e%3ccircle r='34' cx='187.77' cy='84.41'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}