.navbar {
    position: fixed;
    bottom: 24px;
    left: 0;
    right: 0;
    z-index: 9;
    width: max-content;
    margin: auto;
}

.navbar nav {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 24px;
    border: var(--border-style);
    background-color: var(--bg-primary);
    width: fit-content;
    margin: auto;
    box-shadow: var(--box-shadow);
}

.navbar nav a {
    width: 48px;
    height: 48px;
    border-radius: 14px;
    border: var(--border-style);
    background-color: var(--bg-secondary);
    display: flex;
    place-content: center;
    box-shadow: var(--box-shadow);
}

.navbar nav a:hover {
    transform: translateY(-5px);
}

.navbar nav a img {
    width: 24px;
    filter: invert();
}

@media (min-height: 1080px) {
    .navbar {
        bottom: 48px;
    }
}

@media (hover: none) {
    .navbar nav a:hover {
        transform: none;
        opacity: 0.5;
    }
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--bg-secondary);
    border-radius: 24px;
    border: var(--border-style);
}